*{
    margin: 0 auto;

}

.websiteHeader{
    background-color: #4CAF50;
    height: 80px;
    padding-top: 30px;
}

.websiteHeader span{
    font-style: italic;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.rlist{
    margin-bottom: 75px;
}

li{
    float: left;
}

li a{
    display: inline;
    padding: 8px;
    background-color: #dddddd;
}

img{
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    margin-top: 5px;
}

img:hover{
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.faq{
    margin-top: 15px;
    text-align: center;

}

.q1, .q2, .q3, .q4{
    width: 250px;
    height: 150px;
    border: 1px solid white;
    float: left;
    margin-right: 10px;
    margin-top: 15px;
    background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.q11 {
  text-align: center;
  padding: 10px 20px;
}

.q1{
    margin-left: 50px;
}



.request{
    width:130px;
    height: 40px;
    border: 1px solid #808080;
    float:right;
    text-align: center;
    color: white;
    font-size: 120%;
    padding-top: 5px;
    margin-right: 1px;
    background-color: #808080;
    border-radius: 15px;
    box-shadow: 0 9px #999;

}
/*
.request{
    padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: black
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}*/


.request:hover {background-color: #3e8e41}


.search{
    font-size: 130%;
    margin: 120px;
    text-align: center;
   /* border: 1px solid;*/
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

/*form{
    width: 380px;
    height:200px;
}
*/

form{
    width: 50%;
    height: 70%;
}
.footer {
    /*text-align: center;*/
    margin-left: 45%;
    color:black;
    position: fixed;
    bottom: 0;
    font-size: 90%;
}

./*footer span{
    text-align: center;
}


*/